@font-face {
  font-family:"Roboto";
  src:url("Roboto-Light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family:"Roboto";
  src:url("Roboto-LightItalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 300;
  }
  @font-face {
    font-family:"Roboto";
    src:url("Roboto-Bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    }

*{
  background-color: lavenderblush;
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

body{
  font-family: "Roboto";
  font-weight: 300;
}
.menu-container{
  color: olivedrab;
display: flex;
}
ul{
  list-style-type: none;
  margin-left: 10px;
  padding-top: 15px;
width: 500px;
  display: flex;
  justify-content:space-between;
  font-size: 25px;
  font-weight: bold;
}
li a{
  color:olivedrab;
  text-decoration: none;
}
li a:hover{
  color: mediumorchid;
}
.content-container{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
}
.title{
  display: flex;
  justify-content: center;
  text-align: center;
  color:olivedrab;
  font-size: 40px;
}
.copy{
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
margin-top: 60px;
font-size: 25px;
color: olivedrab;
}
address a{
  color: olivedrab;
}
address a:hover{
  color: mediumorchid;
}
.social{
display: flex;
  justify-content: center;
  margin-top: 50px;

}
img{
  width: 80px;
  height: 80px;
}
